[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
grpclib = "*"
mypy = "*"
flake8 = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
